.main {
    background-color: black;
}

.h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
}

.red {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:#ff0000
}

.image {
    margin: auto;
    display: flex;
    justify-content: center;
}

.green {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:#ffe865
}

.red2 {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:#ff0000

}